body {
    color: var(--c2);
    background: rgb(36,20,45);
    background: linear-gradient(90deg, rgba(36,20,45,1) 0%, rgba(13,13,13,1) 75%);
}
main {
    width: 100%;
    height: 80vh !important;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .s1 {
        width: 100%;
        height: 100%;
        padding-left: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font: 600 3rem var(--f1);
            letter-spacing: 0.5rem;
            margin: 0;
        }
        h2 {
            opacity: 0.7;
            font: 500 1.7rem var(--f1);
            margin: 1.0rem 0;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            span {
                font: 400 1.1rem var(--f1);
            }
        }
        .links {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.0rem;
            
            .links-2 {
                display: flex;
                gap: 0.5rem;
            }
            a {
                color: var(--c1);
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
            }
            .link-kahoot {
                color: var(--c1);
                background-color: var(--c2);
                border-bottom: 3px solid gray;
                border-radius: 0.2rem;
                padding: 0.6rem 0.8rem;
                transition: .12s;
            }
            .link-kahoot:hover {
                color: var(--c6);
                border-color: rgba(var(--c5-v), 0.8);
            }
            .link-basic {
                color: var(--c4);
                font-weight: 400;
            }
            .link-basic:hover {
                text-decoration: underline;
            }
        }
    }
    .s2 {
        width: 80%;
        height: 100%;
        padding: 4vw;

        img {
            width: calc(100% - 0vw);
            height: 100%;
            border-radius: 0.5rem;
            object-fit: cover;
        }
    }
}
.popup-cont {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}