.main-room {
  color: var(--c2);
  background-color: var(--c5);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}
.main-room button {
  color: var(--c2);
  background-color: transparent;
  font: 500 1rem var(--f1);
  border: 1px solid var(--c2);
  border-radius: 0.15rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.main-room h2 {
  height: 8rem;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-room h2 .code-cont {
  color: var(--c1);
  background-color: var(--c2);
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
.main-room h2 .code-cont .text {
  opacity: 0.9;
  font: 500 1rem var(--f1);
}
.main-room h2 .code-cont .code {
  font: 600 3rem var(--f1);
}
.main-room h2 button {
  position: absolute;
  top: 1vw;
  left: 1vw;
  z-index: 100;
}
.main-room .list-users {
  background-color: var(--c6);
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-room .list-users .users-count {
  opacity: 0.8;
  color: var(--c2);
  background-color: var(--c5);
  font: 600 1.1rem var(--f1);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.main-room .list-users .users-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0.8rem;
}
.main-room .list-users .users-cont .user {
  height: 4rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-room .list-users .users-cont .user .img-cont {
  background-color: var(--c5);
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-room .list-users .users-cont .user .img-cont img {
  height: 80%;
  border-radius: 50%;
}
.main-room .list-users .users-cont .user .name {
  background-color: rgba(var(--c5-v), 0.5);
  font: 600 1.2rem var(--f1);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.main-room .input-text {
  background-color: var(--c2);
  width: 25rem;
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main-room .input-text .nadpis {
  color: var(--c1);
  font: 500 1rem var(--f1);
  margin: 0.5rem 0;
  text-align: center;
}
.main-room .input-text input {
  color: var(--c1);
  background-color: var(--c2);
  font: 600 1.1rem var(--f1);
  border: 2px solid var(--c4);
  border-radius: 0.25rem;
  padding: 0.8rem 0;
  text-align: center;
}
.main-room .input-text input:focus {
  outline: none;
}
.main-room .input-text button {
  color: var(--c2);
  background-color: var(--c4);
  border: none;
  border-radius: 0.25rem;
  padding: 0.8rem 0;
  transition: all 0.12s;
}
.main-room .input-text button:hover {
  opacity: 0.9;
}
.main-room .button-start-game {
  background-color: var(--c5);
  font: 600 1rem var(--f1);
  border: none;
  padding: 0.8rem 2.5rem;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.main-game {
  color: var(--c1);
  background-color: var(--c2);
}
.main-game button {
  color: var(--c1);
  border-color: var(--c1);
}

.main-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-error .error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
}
.main-error .error h3 {
  font: 600 1.8rem var(--f2);
  margin: 0;
}
.main-error .error p {
  margin: 1.5rem;
}/*# sourceMappingURL=room.css.map */