.main-room {
  color: var(--c2);
  background-color: var(--c5);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
}
.main-room button {
  color: var(--c2);
  background-color: transparent;
  font: 500 1rem var(--f1);
  border: 1px solid var(--c2);
  border-radius: 0.15rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.main-room h2 {
  width: 100%;
  margin: 1vw 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.main-room h2 .code-cont {
  color: var(--c1);
  background-color: var(--c2);
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
.main-room h2 .code-cont .text {
  opacity: 0.9;
  font: 500 1rem var(--f1);
  text-align: start;
}
.main-room h2 .code-cont .code {
  font: 600 3.2rem var(--f1);
}
.main-room h2 .code-cont-qr {
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.main-room h2 .code-cont-qr .s1 {
  display: flex;
  flex-direction: column;
}
.main-room h2 .code-cont-qr .qr-code {
  transition: 0.15s;
  cursor: pointer;
}
.main-room h2 .code-cont-qr .qr-code:hover {
  scale: 0.95;
}
.main-room h2 .code-cont-qr-large {
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
}
.main-room h2 .code-cont-qr-large .qr-code {
  width: 15rem;
  height: 15rem;
}
.main-room h2 button {
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 100;
}
.main-room .list-users {
  background-color: var(--c6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-room .list-users .users-count {
  opacity: 1;
  color: var(--c2);
  background-color: var(--c5);
  font: 600 1.1rem var(--f1);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.main-room .list-users .users-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0.8rem;
}
.main-room .list-users .users-cont .user {
  height: 4rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-room .list-users .users-cont .user .img-cont {
  background-color: var(--c5);
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-room .list-users .users-cont .user .img-cont img {
  height: 80%;
  border-radius: 50%;
}
.main-room .list-users .users-cont .user .name {
  background-color: rgba(var(--c5-v), 0.5);
  font: 600 1.2rem var(--f1);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.main-room .input-text {
  background-color: var(--c2);
  width: 25rem;
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main-room .input-text .nadpis {
  color: var(--c1);
  font: 500 1rem var(--f1);
  margin: 0.5rem 0;
  text-align: center;
}
.main-room .input-text input {
  color: var(--c1);
  background-color: var(--c2);
  font: 600 1.1rem var(--f1);
  border: 2px solid var(--c4);
  border-radius: 0.25rem;
  padding: 0.8rem 0;
  text-align: center;
}
.main-room .input-text input:focus {
  outline: none;
}
.main-room .input-text button {
  color: var(--c2);
  background-color: var(--c4);
  border: none;
  border-radius: 0.25rem;
  padding: 0.8rem 0;
  transition: all 0.12s;
}
.main-room .input-text button:hover {
  opacity: 0.9;
}
.main-room .button-start-game {
  color: var(--c1);
  background-color: var(--c2);
  font: 700 1.2rem var(--f1);
  border: none;
  padding: 0.6rem 2.5rem;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.main-game {
  color: var(--c1);
  background-color: var(--c2);
}
.main-game button {
  color: var(--c1);
  border-color: var(--c1);
}
.main-game .question-vp {
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill;
  display: flex;
  flex-direction: column;
}
.main-game .question-vp .question-cont {
  background-color: white;
  width: 100%;
  padding: 1.5vw 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-game .question-vp .question-cont .question {
  font: 600 2rem var(--f1);
  max-width: 70rem;
  text-align: center;
}
.main-game .question-vp .question-cont button {
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.main-game .question-vp .question-info {
  height: 100%;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-game .question-vp .question-info .question-time-count {
  color: var(--c2);
  background-color: var(--c6);
  font: 600 1.7rem var(--f1);
  border-radius: 3rem;
  padding: 0.5em 0.75em;
  transition: 0.15s;
}
.main-game .question-vp .question-info img {
  height: 45vh;
  border-radius: 0.3rem;
}
.main-game .question-vp .question-info .answers-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.main-game .question-vp .question-info .answers-count .count {
  font: 600 1.6rem var(--f1);
  text-align: center;
}
.main-game .question-vp .question-info .answers-count .text {
  font: 400 1.2rem var(--f1);
  text-align: center;
}
.main-game .answers {
  width: 100%;
  height: 30rem;
  padding: 0.3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3vw;
}
.main-game .answers .ans {
  color: var(--c2);
  font: 600 1.2rem var(--f1);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: 0.12s;
}
.main-game .answers .ans i {
  font-size: 1.5em;
}
.main-game .answers .ans-1 {
  background-color: var(--ans-1);
}
.main-game .answers .ans-2 {
  background-color: var(--ans-2);
}
.main-game .answers .ans-3 {
  background-color: var(--ans-3);
}
.main-game .answers .ans-4 {
  background-color: var(--ans-4);
}
.main-game .answers .ans-correct {
  background-color: rgb(80, 153, 80);
}
.main-game .answers .ans-selected {
  background-color: rgb(228, 48, 48);
}
.main-game .answers .ans-left {
  background-color: gray;
  opacity: 0.4;
}

.main-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-error .error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
}
.main-error .error h3 {
  font: 600 1.8rem var(--f2);
  margin: 0;
  text-align: center;
}
.main-error .error p {
  margin: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .question-vp {
    display: none !important;
  }
  .answers {
    height: 100% !important;
  }
  .answers button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .answers button span {
    display: none;
  }
  .answers-2 {
    grid-template-columns: 1fr !important;
  }
}/*# sourceMappingURL=room.css.map */